/*General*/
body {
    width: 800px; 
    margin: 0 auto;
}
/* Typography */  
h1 {text-align:center;
}
h2 {text-align:center;
}
/* block styling */ 
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* Form styling */ 
body > div {
    border: 5px solid black;
    display: flex;
    background-image: url(images/phone_globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    /* Styling the products display*/
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 700;
}
img {
    width: 200px;
    height: 200px;
}
