<!DOCTYPE html>
<!--Author Meghan Nagai-->
<!--Adapted from Lab 14 Ex4.js-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link to the login_registration_style.css for formatting-->
    <link rel="stylesheet" href="./login_registration_style.css">
    <title>Registration Page</title>
    <!--alert if there are registration errors-->
    <script>window.onload = function () { ${ reg_error } }</script>
</head>

<body>
    <h1>Please Register an Account to Purchase Items</h1>

    <div>
        <h2>Please fill in this form to create an account.</h2>
        <!--User registration form: Copied from Lab 14 Ex 4-->
        <form action="process_register" method="POST">
            <ul>
                <!--Form for the fullname-->
                <li><label for="fullname"><b>Full Name</b></label></li><br>
                <li><input type="text" name="fullname" size="40" placeholder="enter your full name"
                        value="${typeof request.body.fullname != 'undefined' ? request.body.fullname : ''}"></li>
                <!--display the fullname errors, if there are any-->
                <span style="color:red;">${fullname_registration_errs.join(",")}</span><br>

                <!--Form for the usernmae-->
                <li><label for="username"><b>Username</b></label></li><br>
                <li><input type="text" name="username" size="40" placeholder="enter username"
                        value="${typeof request.body.username != 'undefined' ? request.body.username : ''}"></li>
                <!--display the username errors, if there are any-->
                <span style="color:red;">${username_registration_errs.join(",")}</span><br>
                
                <!--Form for the password-->
                <li><label for="password"><b>Password</b></label></li><br>
                <li><input type="password" name="password" size="40" placeholder="enter password" value="${typeof request.body.password != 'undefined' ? request.body.password : ''}"></li>
                <!--display password errors if there are any-->
                <span style="color:red;">${password_registration_errs.join(",")}</span>
                <br>
                <!--Repeat password from-->
                <li><label for="psw-repeat"><b>Repeat Password</b></label></li><br>
                <li><input type="password" name="repeat_password" size="40" placeholder="enter password again" value="${typeof request.body.repeat_password != 'undefined' ? request.body.repeat_password : ''}"></li>
                <!--display the repreat password errors, if there are any-->
                <span style="color:red;">${password_repeat_errs.join(",")}</span><br>
                
                 <!--Form for the email-->
                <li><label for="email"><b>Email</b></label></li>
                <li><input type="email" name="email" size="40" placeholder="enter email" value="${typeof request.body.email != 'undefined' ? request.body.email : ''}"></li>
                <!--display the email errors, if there are any-->
                <span style="color:red;">${email_registration_errs.join(",")}</span><br>

                <!--submit button-->
                <input type="submit" value="Register!"
                    style="height:30px; width:100px; margin:auto 0; text-align: center; background-color: palevioletred; font-size: 18px;  font-weight: 300; float: left"
                    name="submit_button">
            </ul>
        </form>
    </div>
    <!--Link to Login Page-->
    <div class="registration_redirect">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>

</body>

</html>