
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #001028;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
    background: url(./images/starry.jpg)
  }
  
  header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  h1 {
    border-top: 1px solid  lightcoral;
    border-bottom: 1px solid lightcoral;
    color: black;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background-color: lightpink;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  table tr:nth-child(2n-1) td {
    background: #FADADD;
  }
  
  table td {
    text-align: center;
    background-color: white;
    padding: 20px;
    font-size: 14px;
  }
  
  table th {
    padding: 5px 20px;
    background-color: palevioletred;
    color:black;
    border-bottom: 1px solid #C1CED9;      
    font-size: 16px;
  }
  
  
  
